<div>
  <div >
    <div >
      <button data-action="open-modal" aria-controls="size-chart">
        Tabela de Medidas
        {%- render 'icon', icon: 'arrow-right' -%}
      </button>
    </div>
  </div>
  <div id="size-chart" class="modal" aria-hidden="true">
    <div class="modal__dialog" role="dialog">
      <header class="modal__header">
        <h3 class="modal__title heading h2">Compare as medidas com esta tabela.</h3>
        <button class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
          {%- render 'icon', icon: 'close' -%}
        </button>
      </header>
      <div class="modal__content">
        <div class="rte">
          <table>
            <thead>
              <tr>
                <th>Tamanho</th>
                <th>Cintura</th>
                <th>Quadril</th>
                <th>Altura</th>
              </tr>
            </thead>
            <tbody>
              {% for info in product.metafields.custom.chart_size.value %}
                <tr>
                  <td>{{ info.variant.tamanho }}</td>
                  <td>{{ info.variant.cintura }}</td>
                  <td>{{ info.variant.quadril }}</td>
                  <td>{{ info.variant.comprimento }}</td>
                </tr>
                <tr>
                  <td>{{ info.second_variant.tamanho }}</td>
                  <td>{{ info.second_variant.cintura }}</td>
                  <td>{{ info.second_variant.quadril }}</td>
                  <td>{{ info.second_variant.comprimento }}</td>
                </tr>
                <tr>
                  <td>{{ info.thirty_variant.tamanho }}</td>
                  <td>{{ info.thirty_variant.cintura }}</td>
                  <td>{{ info.thirty_variant.quadril }}</td>
                  <td>{{ info.thirty_variant.comprimento }}</td>
                </tr>
                <tr>
                  <td>{{ info.fourty_variant.tamanho }}</td>
                  <td>{{ info.fourty_variant.cintura }}</td>
                  <td>{{ info.fourty_variant.quadril }}</td>
                  <td>{{ info.fourty_variant.comprimento }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
