<div id="modal-size-chart" class="modal" aria-hidden="true">
  <div class="modal__dialog" role="dialog">
    <header class="modal__header">
      <h3 class="modal__title heading h2">{{ 'product.general.refund_policy' | t }}</h3>
      <button class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
        {%- render 'icon', icon: 'close' -%}
      </button>
    </header>

    <div class="modal__content">
      <div class="rte">
        <table>
          <thead>
            <tr>
              <th>Tamanho</th>
              <th>Busto</th>
              <th>Cintura</th>
              <th>Quadril</th>
            </tr>
          </thead>
          <tbody>
            {% assign size_chart = product.metafields.custom.size_chart %}
            {% if size_chart != null %}
              {% for size in size_chart.Medidas %}
                <tr>
                  <td>{{ size.Tamanho }}</td>
                  <td>{{ size.Busto }}</td>
                  <td>{{ size.Cintura }}</td>
                  <td>{{ size.Quadril }}</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="4">Não há dados de tamanho disponíveis.</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
