<div id="modal-size-chart" class="modal" aria-hidden="true">
  <div class="modal__dialog" role="dialog">
    <header class="modal__header">
      <h3 class="modal__title heading h2">{{ 'product.general.refund_policy' | t }}</h3>
      <button class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
        {%- render 'icon', icon: 'close' -%}
      </button>
    </header>

    <div class="modal__content">
      <div class="rte">
        <table>
          <thead>
            <tr>
              <th>Tamanho</th>
              <th>Busto</th>
              <th>Cintura</th>
              <th>Quadril</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>P</td>
              <td>{{ product.metafields.custom.size_chart.P.Busto }}</td>
              <td>{{ product.metafields.custom.size_chart.P.Cintura }}</td>
              <td>{{ product.metafields.custom.size_chart.P.Quadril }}</td>
            </tr>
            <tr>
              <td>M</td>
              <td>{{ product.metafields.custom.size_chart.M.Busto }}</td>
              <td>{{ product.metafields.custom.size_chart.M.Cintura }}</td>
              <td>{{ product.metafields.custom.size_chart.M.Quadril }}</td>
            </tr>
            <tr>
              <td>G</td>
              <td>{{ product.metafields.custom.size_chart.G.Busto }}</td>
              <td>{{ product.metafields.custom.size_chart.G.Cintura }}</td>
              <td>{{ product.metafields.custom.size_chart.G.Quadril }}</td>
            </tr>
            <tr>
              <td>GG</td>
              <td>{{ product.metafields.custom.size_chart.GG.Busto }}</td>
              <td>{{ product.metafields.custom.size_chart.GG.Cintura }}</td>
              <td>{{ product.metafields.custom.size_chart.GG.Quadril }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% for info in product.metafields.custom.chart_size.value %}
  {{ info }}
 <h4 class="product-detail-heading">{{ info.name }}</h4>
 <p>{{ info.height.title }} - {{ info.height.value }}</p>
 <p>{{ info.diameter.title }} - {{ info.diameter.value }}</p>
{% endfor %}
