<div id="modal-size-chart" class="modal" aria-hidden="true">
  <div class="modal__dialog" role="dialog">
    <header class="modal__header">
      <h3 class="modal__title heading h2">{{ 'product.general.refund_policy' | t }}</h3>
      <button class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
        {%- render 'icon', icon: 'close' -%}
      </button>
    </header>

    <div class="modal__content">
      <div class="rte">
        <table>
          <thead>
            <tr>
              <th>Tamanho</th>
              <th>Altura</th>
              <th>Cintura</th>
              <th>Quadril</th>
            </tr>
          </thead>
          <tbody>
            {% for info in product.metafields.custom.chart_size.value %}
              <tr>
                <td>{{ info.name }}</td>
                <td>{{ info.height.value }}</td>
                <td>{{ info.diameter.value }}</td>
                <td>{{ info.diameter.title }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
